@import url(footer479.css);
@import url(footer959.css);
@import url(footer960.css);
@import url(header479.css);
@import url(header959.css);
@import url(header960.css);
@import url(main479.css);
@import url(main959.css);
@import url(main960.css);
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

.wrap {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  overflow-x: hidden;
}
